@import url("./style2.css");
form{
    padding: 30px;
    background-color:goldenrod;
}
fieldset{
    border-radius: 30px;
    border: 2px solid black;
    padding: 30px;
    background-color: aqua
    ;
}